VITE_API_BASE_URL=
RAZORPAY_KEY_ID=YOUR_KEY
RAZORPAY_KEY_SECRET=YOUR_SECRET
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_USER=info@bloomandblossom.in
SMTP_PASS=
SMTP_NOREPLY_USER=noreply@bloomandblossom.in
SMTP_NOREPLY_PASS=
